dj-database-url==0.5.0
Django==3.0.7
graphviz==0.14
gunicorn==20.0.4
psycopg2==2.8.5
pycairo==1.16.2
python-apt==1.6.5+ubuntu0.3
python-debian==0.1.32
python-decouple==3.3
pytz==2020.1
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.18.4
requests-unixsocket==0.1.5
SecretStorage==2.3.1
six==1.14.0
sqlparse==0.3.1
systemd-python==234
toml==0.10.0
typed-ast==1.4.1
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.22
whitenoise==5.1.0

